<h1>Hello world!</h1>
<p>Thanks for visiting my first Ruby on Rails app. Here you can make your own friends listing...</p>
  <ul>
    <li>Create them</li>
    <li>Read them</li>
    <li>Update them</li>
    <li>Destroy them</li>
  </ul>